<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit books</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="nameBook">Введите новое название книги: </label>
    <input type="text" th:field="*{nameBook}" id="nameBook"/>
    <div style="color:red" th:if="${#fields.hasErrors('nameBook')}" th:errors="*{nameBook}">Name Error</div>
    <br/>
    <label for="author">Введите автора книги: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</div>
    <br/>
    <label for="age">Введите год издания: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
    <br/>
    <input type="submit" value="Обновить/Исправить книгу"/>
    <br/>
    <a href="/books">Вернуться к списку книг</a>
</form>
</body>
</html>